@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Tilt+Neon&family=Tilt+Warp&display=swap');

html, body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: Arial;
  background-color: var(--white);
}
/* 
section {
  min-height: 750px;
} */


:root {
  /* color */
  --white: #f0f0f0;
  --black: #11151c;
  --dark-blue: #30638e;
  --bright-blue: #c5d9e9;
  --bright-green: #7de295;
  --bright-purple: rgb(77, 95, 171);

  /* font */
  --font-brand: 'Tilt Warp';
  --font-menu: 'Tilt Neon';
  --font-head: 'Merriweather'
}